body {
  padding-top: 100px;
  padding-bottom: 40px;
  padding-left: 150px;
  padding-right: 100px;
  background-color: #eee;
}

form { 
  width: 1000px; 
  padding-left: 0px;
  margin: 0px;
  display: inline-block;
}


.form-group1{
  padding-top: 20px;
  padding-bottom: 30px;
  display: inline-block;
}

.form-group21{
  padding-left: 100px;
  display: inline;
  text-align: center;
  width: 3000px;
}

.form-group22, .form-group23{
  padding-left: 100px;
  display: inline;
  text-align: center;
  width: 1000px;
}

.form-group31, .form-group32{
  display: inline;
  width: 1000px;
}


.selectContainer{
  padding-top: 20px;
  padding-bottom: 30px;
  display: inline;
  width: 200px;
}

.container{
	max-width: 1000px;
  padding-left: 150px;
  margin: 0 auto;
  text-align: center;
}